.logo {
    font-size:x-large;
    padding-left:6px;
    vertical-align:top;
}

.btn-color-red {
    background-color: #FF0000;
    color:white;
}

.view-status {
    display:none;
    margin-top:-20px;
}

.view-main {
    display:none;
}